<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elvis.myprecious.dao.EventMapper">
<select id="getEvent" resultType="com.elvis.myprecious.model.Event">
	SELECT * FROM event where adminId=#{adminId}
</select>
<insert id="insertEvent"  parameterType="com.elvis.myprecious.model.Event" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO event (e_name, e_starttime, e_endtime, e_peoplecnt, adminId) 
	VALUES (#{e_name}, #{e_starttime}, #{e_endtime}, #{e_peoplecnt}, #{adminId})
</insert>
<update id="editEvent" parameterType="com.elvis.myprecious.model.Event">
	UPDATE event SET e_name=#{e_name}, e_starttime=#{e_starttime}, e_endtime=#{e_endtime}, e_peoplecnt=#{e_peoplecnt}, adminId=#{adminId} WHERE e_no=#{e_no}
</update>
<delete id="deleteEvent" parameterType="int">
	DELETE FROM event WHERE e_no=#{e_no}
</delete>
</mapper>